<!DOCTYPE html>
<html lang="en">
<div th:fragment="banner">
    <div class="row">
        <div class="col-md-8">
            <img id="logo" src="img/sample-logo.jpg" width="383" alt="Sample Logo"/>
        </div>
        <div class="col-md-4">
            <img src="img/hapi_fhir_banner_right.png" align="right"/>
        </div>
    </div>

    <script>
        // Path to your custom logo image
        const customLogoImagePath = "/home/test/Desktop/logo UPHI 11.png";

        // Path to the default logo image
        const defaultLogoImageUrl = "img/sample-logo.jpg";

        const logoImageElement = document.getElementById("logo");

        // Create a new Image object
        const logoImg = new Image();

        // Set the source of the Image object to your custom logo image
        logoImg.src = customLogoImagePath;

        // When the custom logo image loads successfully
        logoImg.onload = function() {
            // Replace the src attribute of the logo image with the custom logo image path
            logoImageElement.src = customLogoImagePath;
        };

        // When the custom logo image fails to load
        logoImg.onerror = function() {
            // Replace the src attribute of the logo image with the default logo image path
            logoImageElement.src = defaultLogoImageUrl;
        };
    </script>

    <!-- Error banner in case anything went wrong -->
    <div class="alert  alert-danger alert-dismissable" th:if="${errorMsg} != null">
        <strong>Warning!</strong>
        <p th:text="${errorMsg}"></p>
    </div>
</div>
</html>

        
